
    <div class="header-content">
        <div class="header-content-inner">
            <legend><h2 class="grey-text bold">Editar Producto </h2></legend>
        </div>
    </div>

  <%= render 'form' %>




