<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>TORTTUX </h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a ><%= link_to "REGISTRARSE", new_user_registration_path, class: "btn btn-primary btn-xl page-scroll"%></a>
        </div>
    </div>
</header>

